@model string

@{
    ViewBag.Title =Resources.Programs;
    ViewBag.ImageName = "programs_pic";
}
<div class="programs panel panel-default">

    <div class="panel-body">

        <div class="pagesInnerHeader">@Resources.Programs</div>

        @Html.Raw(Model)




    </div>




</div>
