body {
    background-color: rgba(132, 200, 248, 0.40);
}


@@media (min-width: 200px) .container {
    width: 970px !important;
}


.navbar .nav > li > a {
    font-weight: 900;
    color: white;
}

.navbar .nav > li :hover {
    color: blue;
}


.navbar-default {
    background-color: rgba(21, 88, 135, 0.760784);
    border: 0;
    min-height: 0;
}

.mobliePath {
}

.langLinks {
    -moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background: -moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color: #bddbfa;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    /*font-size: 15px;*/
    font-weight: bold;
    font-style: normal;
    /*height: 40px;
            line-height: 40px;*/
    width: 60px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #528ecc;
    margin-right: 5px;
}

    .langLinks:hover {
        text-decoration: none;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
        background: -moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
        background-color: #80b5ea;
    }

    .langLinks:active {
        text-decoration: none;
        position: relative;
        top: 1px;
    }

.pagesInnerHeader {
    font-size: large;
    font-weight: 900;
    margin-bottom: 8px;
}

.CV {
    line-height: 170%;
}

#bg {
    background-size: cover;
    background-size: 100% 100%;
    height: 300px;
}

.rotatorTextName {
    color: rgb(205, 233, 252);
    font-weight: 900;
    font-size: xx-large;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 1.5px;
}

.rotatorTextTitle {
    color: rgb(205, 233, 252);
    font-weight: 900;
    font-size: large;
    letter-spacing: 1.5px;
    padding-right: 20px;
    padding-left: 20px;
}

.linksWrapper a {
    display: inline-block;
    padding: 4px;
    outline: 0;
    color: #3a599d;
    transition-duration: 0.25s;
    transition-property: transform;
    transform: scale(1) rotate(0);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}

    .linksWrapper a:hover {
        background: #3a599d;
        text-decoration: none;
        color: #fff;
        border-radius: 4px;
        transform: scale(1.05) rotate(-1deg);
    }

    .linksWrapper a:nth-child(2n):hover {
        -moz-transform: scale(1.05) rotate(1deg);
        -ms-transform: scale(1.05) rotate(1deg);
        -o-transform: scale(1.05) rotate(1deg);
        -webkit-transform: scale(1.05) rotate(1deg);
        transform: scale(1.05) rotate(1deg);
    }

.programsImg {
    height: 300px;
}

.programsMedia {
    height: 300px;
    width: 100%;
}

.programs-media-half {
    height: 300px;
    width: 50%;
}

.prgFiller {
    height: 300px;
}




hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    hr.style-seven:before { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: black;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }

/*.youmax-video-tnail {
    margin-top: 5%;
}

.youmax-video-tnail-box {
    margin: 2%;
}*/

#calendarDate {
    color: black;
    font-weight: bolder;
    white-space: pre-wrap;
}

#homeUpperConainer, #homeBottomConainer {
    border-color: #417ba3;
    border-style: solid;
    border-width: thin;
}

#homeUpperConainer {
    border-top: none;
}

#homePress {
    min-height: 250px;
}







@media (max-width: 767px) {

    #homeBottomConainer, #homeUpperConainer {
        border: none !important;
    }

    #homePress {
        margin-top: 15px !important;
    }

        #homePress > .pagesInnerHeader {
            margin-bottom: 5px !important;
        }

    .programs-media-half {
        width: 100%;
    }

    .programsMedia {
        margin-top: 10px;
    }

    .menuItem {
        border-bottom: 1px solid rgba(132, 200, 248, 0.40);
        padding: 5px;
    }

    #homeConcertsWrapper, #homePostsWrapper, #homePress {
        border-bottom: thin solid #417ba3 !important;
        padding-bottom: 10px;
    }

    .footer-mail, .footer-btn {
        float: none !important;
        margin-top: 5px;
    }

    .footerBtnWrapper {
        text-align: center !important;
    }

    .footerItems {
        text-align: center !important;
    }
}

.footerBtnWrapper {
    text-align: end;
}

.footer-btn {
    font-weight: bold;
    /*float: right;*/
}

.footer-mail {
    color: #3f7aa2;
    /*float:left;*/
}






#homeConcerts, #homePosts {
    margin-bottom: 2%;
}

#homeBottomConainer {
    height: 300px;
}

#calendarData {
    height: 200px;
    overflow-y: scroll;
}

#postsData {
    height: 250px;
    overflow-y: scroll;
}



#nextNav {
    float: right;
    cursor: pointer;
    color: #3f7aa2;
}

#prevNav {
    float: left;
    cursor: pointer;
    color: #3f7aa2;
}

#panelHead {
    text-align: center;
    background-color: rgba(132, 200, 248, 0.40);
}



#hrFooter {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    #hrFooter:before { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: black;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }

.logoHR {
    height: 1px;
    background-color: #3f7aa2;
}

.navMenu {
    text-align: center;
    margin-left: 5px;
    font-weight: 900;
    color: white;
}

.menu-ul {
    /*min-height:600px;*/
}

.programs hr {
    margin-top: 40px;
    border: 0;
    height: 1px;
    width: 100%;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
}

.contact textarea {
    resize: none;
}

.confirmation {
    text-align: center;
}

    .confirmation a {
        margin: 8px;
    }

.jb-area-caption {
    visibility: hidden !important;
}

.credits {
    text-align: center;
    direction: ltr;
    font-size: x-small;
    color: #666666;
}

.stupidLogo {
    visibility: hidden;
}

#juicebox-container {
    direction: ltr;
}

.logo {
    /*font-size:larger !important;*/
    font-family: cursive;
}

    .logo a:visited {
        outline: none;
    }


#youmax-tabs {
    display: none;
}

#youmax-select-box {
    display: none;
}

#youmax-load-more-div {
    display: none;
}

#youmax-stat-holder {
    display: none !important;
}

.subscribed::after {
    content: '70';
}
