@model WebSite.Models.HomeModel
@{
    ViewBag.Title = Resources.Home;
    ViewBag.ImageName = "home_pic";
    bool heb = @Helpers.CultureHelper.IsRighToLeft();
    string borderParams = "thin solid #417ba3";
    string border = heb ? "border-right:" + borderParams + "" : "border-left:" + borderParams + "";
}


<div class="panel panel-default">

    <div class="panel-body">
        <div class="row text-center">
            <img class="img-responsive" src="~/Images/bitbit.jpg" />
        </div>
        <div id="homePress" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="pagesInnerHeader">@Resources.Press</div>
            @Html.Raw(Model.Press)
        </div>
    </div>


</div>



@section scripts{
    <script>
        eventManager.getCurrentItem(@heb.ToString().ToLowerInvariant())

    </script>

}


